:root {
    --primary-bg-color: #ffffff;
    --primary-text-color: #828282;
    --secondary-text-color: #070707;
    --secondary-bg-color: #F6F6F6;
    font-family: Gilroy-Bold;
    font-size: 18px;
    font-style: normal;
    line-height: 1.23;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    width: 1400px;
    
}

.nav-list {
    display: flex;
    margin-left: 145px;
    
}

.nav-link {
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 1.23;
    padding-right: 155px;
    list-style: none;
    color: var(--primary-text-color);
    background: var(--primary-bg-color);
    text-decoration: none;
}

.hero {
    width: 943px;
    margin-left: auto;
    margin-right: auto;
   margin-left: 190px;
    

}

.main-text {
    padding-left: 500px;
    font-family: Gilroy-Bold;
    list-style: none;
    font-size: 18px;
}

.section-title {
    text-align: center;
    padding-right: 100px;
}

.text-area {
    display: block;
    padding-top: 180px;
    padding-right: 480px;
    padding-left: 480px;
    padding-bottom: 180px ;
}

.section-style {
    background-color: var(--secondary-bg-color);
}

.skills-list {
    display: flex;
    flex-direction: row;
  
    
}

.skill-style {
    text-align: center;
    background-color: var(--primary-bg-color);
}

.skills-item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
}

.online-store {
    background-color: var(--secondary-bg-color);
    text-align: center;
}

.portfolio-title {
    text-align: center;
    margin-top: 112px;
    margin-bottom: 47px;
}
.store {
    display: inline-block;
    margin-top: 45px;
    margin-left: 560px;
    margin-bottom: 99px;
   
}

.reebok-store, .braun-store {
    display: inline-block;
    margin-left: 240px;
    background-color: var(--secondary-bg-color);
    
}


/* footer */
.social-net {
    display: flex;
    max-width: 300px;
    align-items: center;
    padding-left: 520px;
}

.social-item {
display: inline-block;
outline: red 1px;
    padding-top: 220px;
    padding-right: 0px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}


.footer-paragraph {
    text-align: center;

}

.button {
   margin-left: 630px;
   background-color: #070707;
   color: var(--primary-bg-color);
   border-width: 2px 4px;
   border-radius: 40%;
}
.footer-text {
    text-align: center;
}

